body {
    margin: 0;
    font-family: 'Kanit', sans-serif;
}

.back {
    position: fixed;
    top: 0;
    /*margin-top: -1em;*/
    /*margin-left: -1em;*/
    width: 102%;
    height: 105%;
    opacity: 0.5;
    background-color: white;
    transform: translateZ(0);
    z-index: -100;
}

.menu_area {
    width: 100%;
    height: 50px;
    background-color: #FE7A47;
    position: fixed;
    top: 0;
    transform: translateZ(0);
    z-index: 100;
    overflow: hidden;
}

.menu {
    max-width: 1024px;
    min-width: 720px;
    height: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    /*padding: 5px;*/
}

#home_area {
    height: 50px;
    background-size: cover;
    /*width: 75px;*/
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    float: left;
    transition: background-color 0.3s;
}

#home_area:hover {
    background-color: white;
}

#home {
    width: 75px;
}

#choose {
    width: 30px;
    height: 30px;
    background-image: url('pic/menu.png');
    background-size: cover;
    margin-top: 11px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    transition: background-image 0.3s;
    float: right;
}

#shop {
    width: 40px;
    height: 35px;
    background-image: url('pic/sb.png');
    background-size: cover;
    margin-top: 7px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    transition: background-image 0.3s;
    float: right;
}

#choose:hover {
    background-image: url('pic/menu_hover.png');
}

#shop:hover {
    background-image: url('pic/sb_hover.png');
}

.con_area {
    background-color: #F0EFEA;
    max-width: 1024px;
    min-width: 720px;
    /*height: 100%;*/
    /*background-color: red;*/
    margin-left: auto;
    margin-right: auto;
    /*overflow: hidden;*/
    margin-top: 60px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 20px grey;
}

.go_back {
    float: right;
}

.rec {
    max-width: 1024px;
    min-width: 720px;
    height: 100%;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: inherit;
}

#myInput {
    font-family: 'Kanit', sans-serif;
    /*border: 1px solid gray;*/
    border-radius: 15px;
    background-color: #F5CA99;
    transition: background-color 0.3s;
    padding: 7px;
    float: right;
}

.anime {
    position: relative;
    animation: fade 1s;
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.title {
    width: 95%;
    height: 50px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.subtitle {
    width: 95%;
    height: 30px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.head_name {
    text-shadow: 1.5px 1.5px gray;
}

.food_area{
    padding-left: 5%;
    padding-bottom: 10px;
}

.food {
    background-color: #F5CA99; 
    width: 40%;
    display: inline-block;
    margin: 10px;
    /*border: 2px solid black;*/
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 2px 5px gray;
}

.food_cart {
    background-color: #F5CA99; 
    width: 94%;
    display: inline-block;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: right;
}

.food_name {
    font-size: 20px;
    /*color: white;*/
}

input, textarea, button {
    font-family: 'Kanit', sans-serif;
    /*border: 1px solid gray;*/
    border-radius: 15px;
    background-color: #DFDFDF;
    transition: background-color 0.3s;
    padding: 7px;
    margin-top: 5px;
}

input[type=submit]:hover, button:hover {
    background-color: #9F9F9F;
}

.cart_area {
    padding-left: 2%;
    padding-bottom: 15px;
}

.next_area {
    width: 97.5%;
    height: 50px;
}

.next {
    float: right;
}

tr {
    padding: 1em;
}